body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #e3ecf5;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    flex: 1;
}

#play-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #181717ad;
    background-color: #fffffd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#play-button:hover {
    background-color: #faeedf;
}

#time-display {
    font-size: 16px;
    margin-top: 10px;
    color: #4e4d49;
}

#bottom-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

.environment-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.environment-item:hover {
    transform: scale(1.1);
}

.environment-icon {
    font-size: 24px;
    color: #ffffff;
}

.environment-name {
    font-size: 12px;
    color: #ffffff;
}

svg {
    margin-top: 20px;
}
